#game{
	cursor: default;
}

.line{
	cursor: pointer;
	z-index: 20;
}

.line:hover{
	color:rgba(255,100,0,1.0);
}

.clickable{
	cursor: pointer;
	border-style:solid;
	border-width:1px;
	border-color:#f00;
}

canvas{

}